@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Warnes');
  
#name {
  position: fixed;
  left: 320px;
  font-size: 20px;
  top: 90px;
  letter-spacing: 6px;
  font-style: italic;
  color: #03A9F4;
}

#name a {
  text-decoration: none;
  color:#03A9F4;
}

#copyright {
  font-family: 'Warnes', cursive;
  color: #d8bdf3;
  position: fixed;
  left: 72px;
  top: 580px;
  width: 402px;
  height: 29px;
  font-size: 12px;
  letter-spacing: 3px;
  z-index: 20;
}

#try-box {
  font-family: 'Warnes', cursive;
  top: 132px;
  left: 274px;
  position: fixed;
  color:#ffffff;
}

#subtitle {
  margin-top: 40px;
  text-align: center;
  position: fixed;
  font-size: 18px;
  letter-spacing: 12px;
  left: 48px;
  top: 270px;
  width: 1164px;
  height: 116px;
  color: #ffffff;
  z-index: 6;
}

#button {
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Warnes', cursive;
  font-size: 15px;
  left: 235px;
  position: fixed;
  top: 544px;
  font-style: italic;
}

#signup_button {
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Warnes', cursive;
  font-size: 15px;
  left: 235px;
  position: fixed;
  top: 550px;
  font-style: italic;
}

#delete_button {
  color: #03A9F4;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Warnes', cursive;
  font-size: 32px;
  left: 935px;
  position: fixed;
  top: 544px;
  font-style: italic;
}

#add_recipe_button {
  color: #03A9F4;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Warnes', cursive;
  font-size: 29px;
  left: 577px;
  position: fixed;
  top: 440px;
  font-style: italic;
}

#name_login {
  position: fixed;
  left: 244px;
  top: 445px;
  width: 858px;
  height: 34px;
  font-size: 16px;
  line-height: 1.3;
  font-style: italic;
  border-bottom: 2px #ffffff;
  background-color: rgba(255, 168, 52, 0);
  font-family: 'Warnes', cursive;
  border-style: none none solid; 
}
  
#name_login::-webkit-input-placeholder{
  color:#ffffff;
}

#name_login::-moz-placeholder {
  color:#ffffff;
}

#name_login:-moz-placeholder {
  color:#ffffff;
}

#name_login:-ms-input-placeholder {
  color: #ffffff;
}

#name_signup {
  position: fixed;
  left: 244px;
  top: 407px;
  width: 858px;
  height: 34px;
  font-size: 16px;
  line-height: 1.3;
  font-style: italic;
  border-bottom: 2px #ffffff;
  background-color: rgba(255, 168, 52, 0);
  font-family: 'Warnes', cursive;
  border-style: none none solid; 
}
  
#name_signup::-webkit-input-placeholder{
  color:#ffffff;
}

#name_signup::-moz-placeholder {
  color:#ffffff;
}

#name_signup:-moz-placeholder {
  color:#ffffff;
}
  
#name_signup:-ms-input-placeholder {
  color: #ffffff;
}

#email {
  position:fixed;
  left:244px;
  top:454px;
  width:858px;
  height:34px;
  font-size: 16px;
  line-height: 1.3;
  font-style:italic;
  border-bottom:2px #ffffff;
  background-color: transparent;
  color:#ffffff;
  font-family: 'Warnes', cursive;
  border-style:none none solid none;
}

#email::-webkit-input-placeholder {
  color:#ffffff;
}

#email::-moz-placeholder {
  color:#ffffff;
}

#email:-moz-placeholder {
  color:#ffffff;
}

#email:-ms-input-placeholder {
  color: #ffffff;
}

#password {
  position: fixed;
  left: 244px;
  top: 490px;
  width: 858px;
  height: 34px;
  font-size: 16px;
  line-height: 1.3;
  font-style: italic;
  border-bottom: 2px #ffffff;
  background-color: rgba(255, 168, 52, 0);
  color: #ffffff;
  font-family: 'Warnes', cursive;
  border-style: none none solid none;
}

#password::-webkit-input-placeholder{
  color:#ffffff;
}

#password::-moz-placeholder {
  color:#ffffff;
}

#password:-moz-placeholder {
  color:#ffffff;
}

#password:-ms-input-placeholder {
  color: #ffffff;
}

#password_new {
  position:fixed;
  left:244px;
  top:501px;
  width:858px;
  height:34px;
  font-size: 16px;
  line-height: 1.3;
  font-style:italic;
  border-bottom:2px #ffffff;
  background-color: transparent;
  color:#ffffff;
  font-family: 'Warnes', cursive;
  border-style:none none solid none;
}
  
#password_new::-webkit-input-placeholder{
  color:#ffffff;
}
  
#password_new::-moz-placeholder {
  color:#ffffff;
}

#password_new:-moz-placeholder {
  color:#ffffff;
}
  
#password_new:-ms-input-placeholder {
  color: #ffffff;
}

#sign-up {
  position:fixed;
  left:980px;
  top:583px;
  width:378px;
  height:63px;
  font-size: 20px;
  letter-spacing: 4px;
  z-index:6;
  font-family: 'Warnes', cursive;
  border-style:none none none none;
}

#sign-up a {
  text-decoration: none;
  color:#ffffff;
}
  
#back-to-recipe-index  {  
  font-family: 'Warnes', cursive;
  color: #ffffff;
  position: fixed;
  left: 43px;
  top: 87px;
  width: 402px;
  height: 29px;
  font-size: 22px;
  letter-spacing: 3px;
  z-index: 20;
}


#log-out {
  font-family: 'Warnes', cursive;
  color: #a4d6ec;
  position: fixed;
  left: 42px;
  top: 36px;
  width: 392px;
  height: 29px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  font-style: italic;
  z-index: 20;
}

#log-out a {
  color:#a4d6ec;
  text-decoration:none;
  top:29px;
  left:28px;
}

body {
  background-color: #e91e63;
  color: ffffff;
  font-family: 'Roboto', cursive;
  font-weight: 709;
  font-size: 600%;
  font-style: italic;
  font-stretch: ultra-expanded;
  letter-spacing: 10px;
}

a {
  text-decoration: none;
} 

a:link {
  color: white;
  transition: initial;
}

a:visited {
  color: #a4d6ec;
  transition: initial;
}

a:hover {
color: #fbf5c4;
transition: initial;
}

#title {
  font-size: 36px;
  letter-spacing: 2px;
  top: 39px;
  left: 314px;
  /* height: 49%; */
  z-index: 18;
  font-style: italic;
  color: #03A9F4;
  position: fixed;
  max-height: 111px;
  border-radius: transparent;
  border-style: solid;
  border-radius: 10px;
  font-family: 'Warnes',cursive;
  border-width: thin;
}

#title::-webkit-input-placeholder {
  color: #03A9F4;
}

#title::-moz-placeholder {
  color: #03A9F4;
}

#title:-moz-placeholder {
  color: #03A9F4;
}

#title:-ms-input-placeholder {
  color: #03A9F4;
}

#etitle {
    font-size: 36px;
    letter-spacing: 2px;
    top: 39px;
    left: 314px;
    z-index: 18;
    font-style: italic;
    color: #03A9F4;
    position: fixed;
    max-height: 111px;
    font-family: 'Warnes',cursive;
}

#nutrition {
  position: fixed;
  left: 416px;
  font-size: 13px;
  top: 377px;
  height: 200px;
  font-family: 'Roboto',monospace;
  font-style: italic;
  letter-spacing: 1px;
  /* color: cornflowerblue; */
  border-color: #03A9F4;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
}


#nutrition::-webkit-input-placeholder {
  color: #03A9F4;
}

#nutrition::-moz-placeholder {
  color: #03A9F4;
}

#nutrition:-moz-placeholder {
  color: #03A9F4;
}
  
#nutrition:-ms-input-placeholder {
  color: #03A9F4;
}

#enutrition_wrapper {
  position: fixed;
  left: 416px;
  top: 532px;
}
  
#enutrition {
  position: absolute;
  font-size: 13px;
  height: 200px;
  font-family: 'Roboto',monospace;
  font-style: italic;
  letter-spacing: 1px;
  overflow: auto;
  border-color: transparent;
  color: #03a9f4;
}

#directions {  
  position: fixed;
  left: 847px;
  font-size: 13px;
  top: 177px;
  letter-spacing: 1px;
  font-style: italic;
  color: black;
  font-family: 'roboto', monospace;
  width: 340px;
  height: 425px;
  overflow: auto;
  z-index: auto;
  line-height: normal;
  font-size: 13px;
  transition: none;
  background: transparent !important;
  border-color: #03A9F4;
  border-radius: 10px;
}


#directions::-webkit-input-placeholder {
  color: #03A9F4;
}

#directions::-moz-placeholder {
  color: #03A9F4;
}

#directions:-moz-placeholder {
  color: #03A9F4;
}

#directions:-ms-input-placeholder {
  color: #03A9F4;
}

#edirections_wrapper {
  position: fixed;
  left: 847px;
  font-size: 13px;
  top: 109px;
  background-color: transparent;
}

#edirections {  
  position: absolute;
  position: absolute;
  font-size: 13px;
  letter-spacing: 1px;
  font-style: italic;
  color: #03A9F4;
  font-family: 'roboto', monospace;
  width: 340px;
  height: 425px;
  overflow: auto;
  z-index: auto;
  line-height: normal;
  font-size: 13px;
  transition: none;
  background: transparent !important;
}
    
#ingredients {
  position: fixed;
  left: 415px;
  font-size: 13px;
  top: 177px;
  letter-spacing: 1px;
  font-style: italic;
  color: #03A9F4;
  overflow: auto;
  width: 385px;
  min-height: 165px;
  border-color: #03A9F4;
  border-radius: 10px;
}

#ingredients::-webkit-input-placeholder {
  color: #03A9F4;
}

#ingredients::-moz-placeholder {
  color: #03A9F4;
}

#ingredients:-moz-placeholder {
  color: #03A9F4;
}
  
#ingredients:-ms-input-placeholder {
  color: #03A9F4;
}

#eingredients_wrapper {
  position: fixed;
  left: 415px;
  top: 177px;
}

#eingredients {
  position: absolute;
  font-size: 13px;
  letter-spacing: 1px;
  font-style: italic;
  color: #03A9F4;
  overflow: auto;
  width: 385px;
  min-height: 265px;
  height: 165px;
}

  
#story {
  position: fixed;
  left: 68px;
  font-size: 13px;
  top: 179px;
  letter-spacing: 1px;
  font-style: italic;
  color: black;
  overflow: auto;
  min-height: 165px;
  overflow: auto;
  width: 282px;
  height: 282px;
  border-color: #03A9F4;
  border-radius: 10px;
}


#story::-webkit-input-placeholder {
  color: #03A9F4;
}

#story::-moz-placeholder {
  color: #03A9F4;
}

#story:-moz-placeholder {
  color: #03A9F4;
}
#story:-ms-input-placeholder {
  color: #03A9F4;
}


#estory_wrapper {
position: fixed;
left: 68px;
top: 179px;
}

#estory {
  position: absolute;
  font-size: 13px;
  letter-spacing: 1px;
  font-style: italic;
  color: #03A9F4;
  overflow: auto;
  min-height: 165px;
  overflow: auto;
  width: 282px;
  height: 282px; 
}

#video_link {
  position: fixed;
  top: 453px;
  height: 28px;
  width: 299px;
  left: 339px;
  z-index: 13;
  font-size: 12px;
  letter-spacing: 2px;
  left: 67px;
  top: 495px;
  font-style: italic;
  border-color: #03A9F4;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
}


#video_link::-webkit-input-placeholder {
  color: #03A9F4;
}

#video_link::-moz-placeholder {
  color: #03A9F4;
}

#video_link:-moz-placeholder {
  color: #03A9F4;
}

#video_link:-ms-input-placeholder {
  color: #03A9F4;
}
    
#evideo_link {
  position: fixed;
  top: 453px;
  height: 28px;
  width: 299px;
  left: 339px;
  z-index: 13;
  font-size: 12px;
  letter-spacing: 2px;
  left: 67px;
  top: 495px;
  font-style: italic;
  color: #03A9F4;    
}

#side-edit{
  font-size: 45px;
  letter-spacing: 17px;
  top: 119px;
  left: 1173px;
  height: 110px;
  transform: rotate(-90deg);
  z-index: 4;
  font-style: italic;
  position: fixed;
  border-color: transparent;
  color: #03a9f4;
}

#side-edit a:link {
  color: #bac;
}

#side-edit a {
  color: #bac;
}

#servings {
  position: fixed;
  left: 314px;
  font-size: 17px;
  top: 104px;
  letter-spacing: 1px;
  font-style: italic;
  border-radius: 10px;
  border-color: #03A9F4;
  border-style: solid;
  border-width: thin;
}

#servings::-webkit-input-placeholder {
  color: #03A9F4;
}

#servings::-moz-placeholder {
  color: #03A9F4;
}

#servings:-moz-placeholder {
  color: #03A9F4;
}

#servings:-ms-input-placeholder {
  color: #03A9F4;
}

#eservings {
  position: fixed;
  left: 814px;
  font-size: 17px;
  top: 56px;
  letter-spacing: 1px;
  font-style: italic;
  color: #03A9F4;
}

#recipes-container {
  position: fixed;
  left: 651px;
  font-size: 23px;
  top: 312px;
  letter-spacing: 1px;
  color: white;
}

#user-recipes-container {
  position: fixed;
  left: 344px;
  font-size: 23px;
  top: 310px;
  letter-spacing: 1px;
  font-style: italic;
  color: white;
}


#create-recipe {
  font-family: 'Warnes', cursive;
  font-size: 19px;
  color: white;
  left: 520px;
  top: 261px;
  /* min-height: 269px; */
  overflow: auto;
  position: fixed;
  /* right: 743px; */
  /* max-height: 275px; */
  letter-spacing: 2px;
}
 
.recipes { 
  left: 391px;
  font-size: 16px;
  letter-spacing: 1px;
  font-style: italic;
  }
  
.my_recipes {
  color:white;
}
   
#delete {
  position: fixed;
  left: 1124px;
  font-size: 22px;
  top: 411px;
}

#please-sign-up {
  position:fixed;
  left:360px;
  top:580px;
  width:680px;
  height:90px;
  font-size: 15px;
  font-style:italic;
  letter-spacing: 8px;
  background-color: rgba(255, 168, 52, 0.02);
  color:#ff3823;
  font-family: Audiowide;
  border-style:none none solid none;
  z-index: 7;
}

#duplicate-name-error {
  position:fixed;
  left:240px;
  top:400px;
  width:680px;
  height:20px;
  font-size: 12px;
  font-style:italic;
  letter-spacing: 3px;
  background-color: rgba(255, 168, 52, 0.02);
  color:#ff3823;
  font-family: Audiowide;
  z-index: 4;
}

#flash {
  position: fixed;
  left: 44px;
  top: 12px;
  height: 50px;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 9px;
  background-color: transparent;
  color: #d1b4ef;
  font-family: Audiowide;
  z-index: 4;
}

  

