

<form method="post" action="/recipes">
  <div id="title"><input type="text" name="title" placeholder="title"></div>
  <textarea id="ingredients" type="text" name="ingredients" placeholder="ingredients"></textarea><br>
  <textarea id="directions" type="text" name="directions" placeholder="directions"></textarea><br>
  <input id="servings" type="number" name="servings" placeholder="servings"></input><br>
  <textarea id="nutrition" type="text" name="nutrition" placeholder="nutrition"></textarea><br>
  <textarea id="story" type="text" name="story" placeholder="story"></textarea><br>
  
  <div id="video_link"><input type="url" name="video_link" placeholder="video link"></div><br>
  
  
  

  
  <input type="submit" id="submit" value="add recipe">
</form>




 