<style> 

  body {
    background-color: #fad2e0;
    color: #ff5d55;
    font-family: 'Audiowide', cursive;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
  }

  a {
    text-decoration: none;
  } 
  a:link {
    color: #ff5555;
  }
  a:visited {
    color: #ff5555;
  }
  a:hover {
    color: white;
  }

  #try-box {
    display:none;
  }
     
  /*#p-title {
    top: -46px;
    position: fixed;
    left: 89px;
    width: 1271px;
    height: 121px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 122px;
    letter-spacing: 0px;
    font-style: italic;
    color: red;
    max-height: 153px;
    overflow: scroll;
  }*/

  #name {
    position: fixed;
    left: -17px;
    font-size: 20px;
    transform: rotate(-90deg);
    top: 217px;
    letter-spacing: 6px;
    font-style: italic;
  }     

  #name a{
    text-decoration: none;
    color:white;
  }
        
  /*#oldchunk-text {  
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #d45454;
    left: 120px;
    top: 115px;
    min-height: 269px;
    overflow: scroll;
    position: fixed;
    right: 743px;
    max-height: 275px;
  }    */

  .vid {
    position: fixed;
    top: 413px;
    height: 58px;
    width: 195px;
    left: 144px;
  }
  .vid input {
    border-top: hidden;
    border-left: hidden;
    background-color: transparent;
    border-bottom-color: red;
    border-right: hidden;
    border-width: 1px;
    width:331px;
    font-family: Audiowide;
    font-size: 18px;
    color: #ff3823;
  }

    .vid input::-webkit-input-placeholder{
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .vid input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .vid input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .vid input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .pics {
      position: fixed;
      top: 349px;
      height: 58px;
      width: 195px;
      left: 144px;
    }
    .pics input {
      border-top: hidden;
      border-left: hidden;
      background-color: transparent;
      border-bottom-color: red;
      border-right: hidden;
      border-width: 1px;
      width:331px;
      font-family: Audiowide;
      font-size: 18px;
      color: #ff3823;
    }
    .pics input::-webkit-input-placeholder{
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .pics input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .pics input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .pics input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }

    .sound {
      position: fixed;
      top: 477px;
      height: 58px;
      width: 195px;
      left: 144px;
      font-family: Audiowide;
      font-size: 12pt;
    }
   

    .sound input {
      border-top: hidden;
      border-left: hidden;
      background-color: transparent;
      border-bottom-color: red;
      border-right: hidden;
      border-width: 1px;
      width:331px;
      font-family: Audiowide;
      font-size: 18px;
      color: #ff3823;
    }

    .sound input::-webkit-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
     
    .sound input::-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
  
    .sound input:-moz-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }
    .sound input:-ms-input-placeholder {
      font-family:Audiowide;
      font-style: italic;
      color:#ff3823;
    }


    /*#newchunk-text {
      font-size: 45px;
      letter-spacing: 17px;
      top: 119px;
      left: 1120px;
      height: 110px;
      z-index: 4;
      font-style: italic;
      color: black;
      position: fixed;
    }*/

   
      
    /*#newchunk-title {
      font-size: 28px;
      letter-spacing: 1px;
      top: 36%;
      left: -248px;
      height: 22%;
      transform: rotate(-90deg);
      z-index: 4;
      font-style: italic;
      color: #ff5d55;
      position: fixed;
      overflow: scroll
    }*/


    #try-box {
      display:none;
    }
       
    
   /* #o-title {
      position: fixed;
      left: 9px;
      font-size: 61px;
      top: 601px;
      letter-spacing: 5px;
      font-style: italic;
      transform: rotate(-90deg);
      transform-origin: top left;
      width: auto;
      white-space: nowrap;
    }*/

    #ingredients {
      position: fixed;
      left: 555px;
      font-size: 13px;
      top: 133px;
      letter-spacing: 1px;
      font-style: italic;
      color: black;
      font-family: "Courier New";
      overflow: scroll;
      max-width: 605px;
      min-height: 165px;
    }

   

     
     #submit {
      position: fixed;
      left: 1124px;
      font-size: 22px;
      top: 411px;
     }

     #delete-button {
      position: fixed;
      left: 1024px;
      font-size: 22px;
      top: 411px; 
     }

    /*#plus {
      position: fixed;
      left: 788px;
      top: 488px;
      width: 192px;
      height: 147px;
      color: red;
      z-index: 14;
    }
*/


  #trash-can {
      position: fixed;
      left: 999px;
      top: 456px;
      width: 278px;
      height: 26px;
      transform: scale(1);
      transform-origin: 137px 94px;
      color: red;
      z-index:14;
  }

  

    #title {
      position: fixed;
      font-family: "Courier New";
      font-size: 25px;
      left: 587px;
      top: 147px;
      z-index: 15;
      background-color: transparent;
      border-radius: 20px;
    }

    #title input {
      border: none;
      background-color: transparent;
      font-family: "Courier New";
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
    }

    #title input::-webkit-input-placeholder{
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
     
       #title input::-moz-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
     
       #title input:-moz-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }
       #title input:-ms-input-placeholder {
         font-family:Audiowide;
         font-style: italic;
         color:#ff3823;
         font-size: 15px;
       }

</style>

<form method="post" action="/recipes">
  <div id="title"><input type="text" name="title" placeholder="title"></div>
  <textarea id="ingredients" type="text" name="ingredients" placeholder="ingredients"></textarea><br>
  <textarea id="directions" type="text" name="directions" placeholder="directions"></textarea><br>
  <input id="servings" type="number" name="servings" placeholder="servings"></input><br>
  <textarea id="nutrition" type="text" name="nutrition" placeholder="nutrition"></textarea><br>
  <textarea id="story" type="text" name="story" placeholder="story"></textarea><br>
  
  <div class="video"><input type="url" name="video_link" placeholder="video link"></div><br>
  
  <div class="pics"><input type="url" name="image_link" placeholder="image link"></div><br>
  
  <div class="sound"><input type="url" name="sound_link" placeholder="soundcloud link"></div><br>
  
  <input type="submit" id="submit" value="add recipe">
</form>




 