

  
  <div id="subtitle"> with stories and other media</div>
  <div id="sign-up"><a href="/signup">OR SIGN-UP</a></div>
<form method="post" action="/login">
  <input id="name_login" type="text" name="username" placeholder="username"><br><br><br>
  <input id="password" type="password" name="password" placeholder="password"><br><br><br>
  </input>
   <input  type="submit" value="login">
</form>
