

  
</style>
<div id="try-box">federici recipes</div>
<div id="subtitle"> tried and true recipes from the family collection</div>


<% if session[:username_taken] == true %>
  <div id="duplicate-name-error">Somebody's already grabbed that kick-butt username. Pick your own!</div>
<% end %>

<form method="post" action="/signup">
  <input id="name" type="text" name="username" placeholder="username">
  
  <input id="email" type="text" name="email" placeholder="email">
  
  <input id="password_new" type="password" name="password" placeholder="password">
 

  <input  type="submit" value="sign-up">
</form>
