<div id="try-box">federicette</div>
<div id="subtitle"> with related stories and video clips</div>
  
  <form method="post" action="/signup">
    <input id="name_signup" type="text" name="username" placeholder="username">
    <input id="email" type="text" name="email" placeholder="email">
    <input id="password_new" type="password" name="password" placeholder="password">
   
    <input id="signup_button" type="submit" value="sign-up">
  </form>

 